Repository ai-cherry/sophia-intel-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-todos, requirements-sync, api-schema-update, forbid-ephemeral-reports

Path conditions:
  no-print-statements: any of: \.py$ and not (^(scripts/|tests/|.*_test\.py|.*debug.*\.py)$) and not ((?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log
)$
)
  no-todos: any of: \.py$ and not (^(tests/|scripts/|docs/)) and not ((?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log
)$
)
  requirements-sync: any of: ^(requirements.*\.txt|pyproject\.toml)$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log
)$

  api-schema-update: any of: ^app/api/.*\.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log
)$

  forbid-ephemeral-reports: any of: (?x)^(
  deployment_results/.*|
  test_reports/.*|
  reports/.*|
  artifacts/.*|
  .*/test_reports/.*|
  .*-20[0-9]{2}-[01][0-9]-[0-3][0-9].*\.(md|json)$|
  .*20[0-9]{2}-[01][0-9]-[0-3][0-9].*\.(md|json)$
)$
, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log
)$


feat: add semantic orchestrators and scaffolding components
  app/artemis/artemis_semantic_orchestrator.py
  app/scaffolding/ai_hints_pipeline.py
  app/scaffolding/embedding_system.py
  app/scaffolding/persona_manager.py
  app/scaffolding/semantic_classifier.py
  app/sophia/sophia_semantic_orchestrator.py
Due: no-print-statements, no-todos

chore: improve pre-commit hooks for better developer experience
  .pre-commit-config.yaml
  .secrets.baseline
  app/foundational_knowledge/__init__.py
  app/foundational_knowledge/models.py
  backup_configs/database_configs/migrations/002_foundational_knowledge.py
  backup_configs/database_configs/migrations/migration_base.py
  config/scaffolding_config.yaml
Due: no-print-statements, no-todos

feat: production-ready enhancements with comprehensive security, monitoring, and reliability
  UI_DASHBOARD_UPGRADE_REPORT.md
  app/api/health_monitoring.py
  app/api/middleware/__init__.py
  app/api/middleware/auth.py
  app/api/middleware/rate_limit.py
  app/api/orchestration_router.py
  app/api/production_server.py
  app/api/routes/foundational_knowledge.py
  app/api/routes/health.py
  app/core/config.py
  app/core/resource_manager.py
  app/foundational_knowledge/airtable_sync.py
  app/foundational_knowledge/manager.py
  app/knowledge/__init__.py
  app/knowledge/classification_engine.py
  app/knowledge/foundational_manager.py
  app/knowledge/models.py
  app/knowledge/storage_adapter.py
  app/knowledge/versioning_engine.py
  app/learning/evaluation_swarm.py
  app/models/orchestration_models.py
  app/models/requests.py
  app/orchestration/factory_aware_orchestrator.py
  app/security/auth_middleware.py
  app/sophia/sophia_orchestrator.py
  app/swarms/artemis/command_center_ui.tsx
  app/swarms/artemis/military_swarm_config.py
  app/swarms/micro_swarms.py
  app/sync/airtable_sync.py
  backup_configs/database_configs/migrations/002_foundational_knowledge.py
  backup_configs/database_configs/migrations/migration_base.py
  scripts/load_testing.py
  scripts/test_production_fixes.py
  tests/test_foundational_knowledge.py
  tests/test_orchestration_system.py
Due: no-print-statements, no-todos, api-schema-update

feat: comprehensive deployment pipeline and monitoring infrastructure
  .env.example
  .github/workflows/deploy.yaml
  INTEGRATION_STATUS.md
  PRODUCTION_INFRASTRUCTURE_IMPLEMENTATION_PLAN.md
  app/integrations/connectors/netsuite_connector.py
  app/swarms/artemis/command_center_ui.tsx
  app/swarms/artemis/components/OperationalReadinessPanel.tsx
  app/swarms/artemis/components/SystemVitalsPanel.tsx
  infrastructure/pulumi-esc-config.yaml
  k8s/base/deployment.yaml
  monitoring/grafana/artemis-command-dashboard.json
  monitoring/prometheus/prometheus.yml
  scripts/load_testing.py
  test_endpoint_formats.py
  test_netsuite_simple.py
Due: no-print-statements, no-todos

feat: complete dual orchestrator infrastructure optimization
  app/coordination/dynamic_resource_allocator.py
  app/coordination/sophia_artemis_bridge.py
  app/integrations/connectors/netsuite_connector.py
  app/knowledge/storage_adapter_pooled.py
  app/mcp/unified_mcp_orchestrator.py
Due: no-print-statements, no-todos

feat: add lightweight performance monitoring and scaling prep
  app/api/coordination_metrics.py
  app/api/unified_server.py
  app/coordination/sophia_artemis_bridge.py
  app/mcp/unified_mcp_orchestrator.py
Due: no-print-statements, no-todos, api-schema-update

collab: apply executor; schema v2 (modify/create/delete/rename); metrics; dashboard; cleanup; Slack gated to Sophia; swarm context includes collab
  app/collaboration/collaboration_protocol.yaml
  app/core/portkey_manager.py
  app/integrations/slack_integration.py
  app/memory/unified_memory_router.py
  app/models/approved_models.py
  app/orchestrators/base_orchestrator.py
  app/orchestrators/unified_base.py
  app/swarms/cli/artemis_runner.py
  app/swarms/core/micro_swarm_base.py
  app/swarms/core/scheduler.py
  app/swarms/core/slack_delivery.py
  app/swarms/core/swarm_integration.py
Due: no-print-statements, no-todos

collab: add --git-push to apply; simplify cleanup script
  .pre-commit-config.yaml
  .pre-commit-skip.md
  agent-ui/src/app/infra/page.tsx
  agent_catalog/catalog.json
  app/artemis/artemis_semantic_orchestrator.py
  app/foundational_knowledge/models.py
  app/research/web_research_team.py
  app/scaffolding/ai_hints_pipeline.py
  app/scaffolding/embedding_system.py
  app/scaffolding/persona_manager.py
  app/sophia/sophia_semantic_orchestrator.py
  app/swarms/cli/artemis_runner.py
  env.example
  k8s/deployment.yaml
  pay_ready_implementation/analytics.md
  pulumi/database/Pulumi.yaml
  scripts/cleanup_artemis_daily.sh
  scripts/cleanup_docs.sh
  scripts/deploy.sh
  tests/test_infrastructure.py
  tests/test_orchestrators.py
Due: no-print-statements, no-todos

cli: move return to end of build_parser to register cleanup/dashboard; fix lazy imports
  app/swarms/cli/artemis_runner.py
Due: no-print-statements, no-todos

cli: restore return in build_parser before main to fix parser construction
  app/swarms/cli/artemis_runner.py
Due: no-print-statements, no-todos

cleanup: use stdio MCP client directly to archive expired/stale and prune backups (no CLI dependency)
  scripts/cleanup_artemis_daily.sh
Due: none

cleanup: avoid 'expires:' search operator; filter expired in Python
  scripts/cleanup_artemis_daily.sh
Due: none

collab: make proposal lookup robust (filter in Python); fixes apply with simple MCP search
  app/swarms/cli/artemis_runner.py
Due: no-print-statements, no-todos

cli: fix parser construction order; move __main__ to end; register cleanup and dashboard; add merge-check parser
  app/swarms/cli/artemis_runner.py
Due: no-print-statements, no-todos

cli: define merge-check handlers before parser; remove duplicate dead code; finalize build_parser layout
  app/swarms/cli/artemis_runner.py
Due: no-print-statements, no-todos

feat(artemis): comprehensive scout swarm enhancements with prefetch, delta indexing, and tool affordances
  CODEX_IMPLEMENTATION_REQUEST.md
  CODEX_REVIEW_AND_EXPANSION.md
  app/swarms/cli/artemis_runner.py
  app/swarms/core/micro_swarm_base.py
  app/swarms/core/swarm_integration.py
  app/swarms/scout/delta_index.py
  app/swarms/scout/prefetch.py
  docker-compose.artemis.yml
  docs/ARTEMIS_SWARM_PATTERNS.md
  scripts/scout_readiness_check.py
  scripts/setup_artemis_env.sh
  tests/artemis/benchmark_swarms.py
  tests/artemis/test_data/scout_test_scenarios.py
  tests/artemis/test_scout_integration.py
Due: no-print-statements, no-todos

feat(artemis): comprehensive scout swarm upgrades for production readiness
  .artemis/hooks/post-scout.sh
  .artemis/hooks/pre-scout.sh
  .artemis/scout.md
  CODEX_ARTEMIS_ENHANCED_PROMPT.json
  CODEX_ARTEMIS_PROMPT.json
  CODEX_METRICS_ROUTING_PROMPT.json
  README.md
  app/api/routers/slack_business_intelligence.py
  app/integrations/asana_client.py
  app/integrations/linear_client.py
  app/integrations/looker_client.py
  app/integrations/slack_intelligence.py
  app/memory/unified_memory_router.py
  app/models/approved_models.py
  app/swarms/artemis/technical_agents.py
  app/swarms/cli/artemis_runner.py
  app/swarms/core/micro_swarm_base.py
  app/swarms/scout/delta_index.py
  app/swarms/scout/prompts.py
  baseline_repo.json
  run_artemis_test.sh
  security_fresh.json
  test1_security.json
  test2_performance.json
  test3_arch.json
  test_final.json
  test_scout_scenarios.sh
  test_strict.json
  tests/artemis/test_delta_index.py
  tests/artemis/test_scout_json_output.py
  tests/artemis/test_tool_affordances.py
Due: no-print-statements, no-todos, api-schema-update

Test push
  test_push.txt
Due: none

Implement AI agent repository management system
  .gitignore
  AI_CODING_AGENT_GIT_INSTRUCTIONS.md
  Makefile
  REPOSITORY_REMEDIATION_PLAN.md
  mcp_memory_server/server.py
  recommendations.md
  scripts/agents_env_check.py
  scripts/cli_health_check.sh
  scripts/mcp_bootstrap.sh
  scripts/scan_repo_artifacts.sh
  sophia_startup_check.sh
Due: no-print-statements, no-todos

feat: enhance RAG memory services with production-ready improvements
  app/memory/base_memory.py
  app/memory/config.py
  scripts/start_rag_services.sh
  scripts/test_rag_services.py
  start.sh
Due: no-print-statements, no-todos

memory: add /ready,/live,/version; domain-specific Weaviate schemas; __main__ entries; fix start_rag script paths
  .github/workflows/dependency-check.yml
  .gitignore
  .pre-commit-config.yaml
  BLACK_FORMATTER_REMEDIATION_UPDATED_PLAN.md
  DEPENDENCIES.md
  GROK_CLI_INTEGRATION_ANALYSIS_REPORT.md
  app/memory/artemis_memory.py
  app/memory/base_memory.py
  app/memory/sophia_memory.py
  mcp_servers/artemis/__init__.py
  packages/sophia_core/__init__.py
  packages/sophia_core/config/__init__.py
  packages/sophia_core/config/env.py
  packages/sophia_core/config/helpers.py
  packages/sophia_core/memory/__init__.py
  packages/sophia_core/memory/base.py
  packages/sophia_core/models/__init__.py
  packages/sophia_core/models/base.py
  packages/sophia_core/tools/__init__.py
  scripts/pin_dependencies.py
  scripts/start_rag_services.sh
Due: no-print-statements, no-todos

grok: add env keys to .env.example; alias GROK_API_KEY->XAI; add sophia CLI; add artemis CLI aggregator; add Grok MCP server skeleton; orchestrator optional grok_agent service
  .env.example
  Makefile
  app/llm/multi_transport.py
  app/memory/base_memory.py
  app/rag/README.md
  artemis/cli/agents.py
  mcp_servers/grok/server.py
  packages/sophia_core/agents/__init__.py
  packages/sophia_core/agents/base.py
  packages/sophia_core/obs/__init__.py
  packages/sophia_core/obs/logging.py
  packages/sophia_core/swarms/__init__.py
  packages/sophia_core/swarms/base.py
  packages/sophia_core/tools/base.py
  scripts/agents_env_check.py
  scripts/sophia.py
  scripts/unified_orchestrator.py
Due: no-print-statements, no-todos
