Repository ai-cherry/sophia-intel-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-breakpoints, no-console-log

no-print-statements:
  name: No print statements in production
  entry: \bprint\s*\(
  language: pygrep

no-breakpoints:
  name: Check for forgotten breakpoints
  entry: breakpoint\(\)|import pdb|pdb\.set_trace
  language: pygrep

no-console-log:
  name: No console.log in JavaScript
  entry: console\.(log|debug|info|warn|error)
  language: pygrep

env: add XAI/GROK keys to example; CLI: add sophia.py and provider override; tests: add test_grok_integration.py; MCP: grok server skeleton; orchestrator entry
  .python-version
  ARCHITECTURE_RUNTIME_IMPLEMENTATION_PLAN.md
  packages/sophia_core/exceptions.py
  packages/sophia_core/obs/metrics.py
  packages/sophia_core/utils/__init__.py
  packages/sophia_core/utils/cbreaker.py
  packages/sophia_core/utils/redaction.py
  packages/sophia_core/utils/retry.py
  requirements/base.txt
  requirements/dev.txt
  scripts/test_grok_integration.py
  scripts/unified_ai_agents.py
Due: no-print-statements, no-breakpoints

feat(dev): add canonical multi-agent compose, helper scripts, env examples, and docs; unify terminal-first workflow
  ARCHITECTURE_RUNTIME_PHASES_A1-A3_COMPLETE.md
  ENVIRONMENT_GUIDE.md
  MULTI_AGENT_PLAN_ADDENDUM.md
  Makefile
  Makefile.dev
  PHASES_3-6_IMPLEMENTATION_PLAN.md
  PLANS_SUPERSEDED.md
  README.md
  TERMINAL_FIRST_MULTI_AGENT_ECOSYSTEM_MASTER_PLAN.md
  app/api/memory/memory_endpoints.py
  docker-compose.dev.yml
  docker-compose.multi-agent.yml
  requirements/dev.txt
  requirements/optional-rag.txt
  scripts/agents_env_check.py
  scripts/multi-agent-docker-env.sh
  scripts/quick-grok-test.sh
  scripts/sophia_cli.py
  scripts/test_rag_integration.py
  scripts/unified_orchestrator.py
Due: no-print-statements, no-breakpoints

chore(dev): add minimal Dockerfiles for mcp/webui/swarm; make env manager build explicit services; improve SSH agent guidance
  ARTEMIS_ENV_STRATEGY.md
  automation/docker/Dockerfile.mcp-filesystem
  automation/docker/Dockerfile.mcp-git
  automation/docker/Dockerfile.mcp-memory
  automation/docker/Dockerfile.swarm
  automation/docker/Dockerfile.webui
  scripts/multi-agent-docker-env.sh
Due: none

docs: add SSH agent forwarding guidance; add mcp-status make target
  ENVIRONMENT_GUIDE.md
  Makefile
Due: none

feat(mcp): add HTTP servers for filesystem/git/memory with policies; wire webui backend to MCP tools; update compose env for MCP URLs
  .env.template
  AGENT_PLAN_CLEANUP_INSTRUCTIONS.md
  AI_AGENT_ENVIRONMENT_PROMPT.md
  ARTEMIS_SETUP_COMPLETE.md
  ENVIRONMENT_GUIDE.md
  Makefile
  README.md
  SAFE_REFACTORING_OPPORTUNITIES_REPORT.md
  app/observability/metrics.py
  automation/docker/Dockerfile.mcp-filesystem
  automation/docker/Dockerfile.mcp-git
  automation/docker/Dockerfile.mcp-memory
  backend/cache/integration_layer.py
  backend/database/connection_pool.py
  backend/orchestration/workflow_monitor.py
  backend/rag/query.py
  backend/services/enterprise_security_service.py
  backend/services/service_discovery.py
  docker-compose.multi-agent.yml
  mcp/__init__.py
  mcp/filesystem/__init__.py
  mcp/filesystem/server.py
  mcp/git/__init__.py
  mcp/git/server.py
  mcp/memory/__init__.py
  mcp/memory/server.py
  mcp/policies/filesystem.yml
  mcp_servers/artemis/agents/evolver_agent.py
  mcp_servers/artemis/agents/planner_agent.py
  mcp_servers/artemis/swarm_orchestrator.py
  mcp_servers/base/ai_service_manager.py
  mcp_servers/base/batch_processor.py
  mcp_servers/base/prometheus_monitoring.py
  mcp_servers/hub_gateway.py
  pipelines/neon_qdrant_analytics.py
  scripts/agents_env_check.py
  webui/backend/main.py
Due: no-print-statements, no-breakpoints

feat(webui): add proposal workflow endpoints (create/list/approve/reject) with FS apply + optional Git commit
  archive/backups/backup_configs_20250908/database_configs/migrations/001_rbac_foundation.py
  archive/backups/backup_configs_20250908/database_configs/migrations/002_foundational_knowledge.py
  archive/backups/backup_configs_20250908/database_configs/migrations/migration_base.py
  archive/backups/backup_configs_20250908/integration_configs/integrations_config.py
  archive/backups/backup_configs_20250908/port_configs/port_config.json
  archive/backups/backup_configs_20250908/port_configs/port_config_export.json
  archive/backups/backup_configs_20250908/port_configs/test_config.json
  archive/backups/backup_configs_20250908/portkey_configs/elite_portkey_config.py
  archive/backups/backup_configs_20250908/portkey_configs/portkey_config.json
  archive/backups/backup_configs_20250908/portkey_configs/portkey_config.py
  archive/backups/backup_configs_20250908/portkey_configs/portkey_loadbalance_config.py
  archive/backups/tests_backup_20250908/test_artemis_swarm_orchestrator.py
  archive/backups/tests_backup_20250908/test_business_intelligence_server.py
  backend/services/enterprise_security_service.py
  mcp_servers/artemis/agents/coder_agent.py
  webui/backend/main.py
Due: no-print-statements, no-breakpoints

feat(mcp): add filesystem/git/memory MCP servers + wire Dockerfiles; simplify env with examples; fix core syntax stubs; prune legacy MCP stubs
  .env.mcp.example
  .env.sophia.example
Due: none

feat(router+webui): add EnhancedProviderRouter with config mapping; add /agents/complete endpoint; secure env loading for CLI; indexer ignores common dirs; git commit template support
  .env.template
  .github/workflows/ci-smoke.yml
  Makefile
  PHASE2_AGENT_PROMPT.md
  PHASE2_REFACTORING_PLAN.json
  PHASE2_REFACTORING_PLAN_v2.json
  PHASE2_REFACTORING_PLAN_v3.json
  app/api/hub/hub_controller.py
  app/artemis/agent_factory.py
  app/artemis/factories/__init__.py
  app/artemis/factories/agent_factory.py
  app/artemis/factories/base_factory.py
  app/llm/provider_router.py
  app/utils/http_client.py
  config/agents/routing.yml
  docker-compose.multi-agent.yml
  docs/DOCKER_SERVICES_MATRIX.md
  indexer/main.py
  mcp/git/server.py
  mcp/policies/filesystem.yml
  mcp/policies/git.yml
  packages/sophia_core/ARCHITECTURE.md
  packages/sophia_core/README.md
  packages/sophia_core/__init__.py
  packages/sophia_core/py.typed
  scripts/development/refactor_tools.py
  scripts/unified_ai_agents.py
  webui/backend/main.py
Due: no-print-statements, no-breakpoints

chore(preflight): set Black/Ruff target to py311 and extend excludes; router: add basic retries/backoff and optional Prometheus metrics; propagate secure env preference in CLI
  Makefile
  PHASE2_AGENT_PROMPT.md
  app/llm/provider_router.py
  pyproject.toml
Due: no-print-statements, no-breakpoints

feat(routing): favor grok-code-fast-1, gpt-5, qwen3-max; CLI dry-run with task-type/model overrides; WebUI /agents/complete returns route metadata
  ARTEMIS_SUPREME_ORCHESTRATOR_ARCHITECTURE.md
  app/orchestrator/artemis_supreme.py
  config/agents/routing.yml
  scripts/unified_ai_agents.py
  webui/backend/main.py
  webui/frontend/tactical-command.html
Due: no-print-statements, no-breakpoints

🎯 Add comprehensive QC improvement and testing framework
  CODEX_COMPREHENSIVE_QC_IMPROVEMENT_PROMPT.json
Due: none

🧹 Add intelligent repository cleanup framework
  CODEX_REPOSITORY_CLEANUP_PROMPT.json
Due: none

docs: add consolidation reports and placeholders
  ARTEMIS_ARCHITECTURE.md
  CHANGELOG.md
  DEPLOYMENT_GUIDE.md
  INTEGRATIONS.md
  ROADMAP.md
  docs/cleanup-reports/README.md
  docs/cleanup-reports/category-ADRs.txt
  docs/cleanup-reports/category-ARTEMIS.txt
  docs/cleanup-reports/category-DEPLOYMENT.txt
  docs/cleanup-reports/category-INTEGRATION.txt
  docs/cleanup-reports/category-PHASE.txt
  docs/cleanup-reports/category-README.txt
  docs/cleanup-reports/consolidation-plan.md
  docs/cleanup-reports/deprecation-and-todos.txt
  docs/cleanup-reports/docs-inventory.txt
  docs/cleanup-reports/duplicate-python-basenames.txt
  docs/cleanup-reports/one-time-scripts.txt
  docs/cleanup-reports/python-inventory.txt
  docs/cleanup-reports/summary.md
  docs/cleanup-reports/temp-and-cache.txt
Due: none

chore: commit all pending local changes before SSH push
  CODEX_COMPREHENSIVE_QC_IMPROVEMENT_PROMPT.json
  services/chat-service/main.py
  services/neural-gateway/main.py
  tests/test_neural_gateway_circuit_breaker.py
Due: no-print-statements, no-breakpoints

env(dev): unify env template; deprecate legacy templates; add DEV_ENV; deprecate Makefile.dev via forwarding
  .env.example
  .env.mcp.example
  .env.sophia.example
  .env.template
  DEV_ENV.md
  Makefile.dev
Due: none

dev: add VS Code MCP endpoints; allow .vscode/settings.json via .gitignore override
  .gitignore
  .vscode/settings.json
Due: none

feat(resilience): Add Phase 2 enhancements for circuit breaker and WebSocket streaming
  .github/workflows/test-resilience.yml
  app/artemis/scout_swarm/ultimate_scout_swarm.py
  app/core/api_tool_registry.py
  app/core/portkey_config.py
  app/core/security/secure_env.py
  app/core/simple/hybrid_provider.py
  app/core/simple/reliable_provider.py
  app/core/unified_keys.py
  app/sophia/agent_factory.py
  app/swarms/agno_teams.py
  app/swarms/artemis/portkey_swarm_orchestrator.py
  docs/SECURE_ENV_AND_TOOLS.md
  scripts/artemis_4_scout_comparison.py
  scripts/artemis_parallel_swarm.py
  scripts/deploy_artemis_simple.py
  scripts/deploy_pay_ready_quick.py
  scripts/deploy_pay_ready_swarm.py
  scripts/fix_portkey_config.py
  scripts/fix_provider_issues.py
  scripts/migrate_to_hybrid_providers.py
  scripts/monitoring/monitor_artemis_swarm.py
  scripts/setup_complete_portkey.py
  scripts/setup_portkey_keys.py
  scripts/testing/test_all_keys_comprehensive.py
  scripts/testing/test_all_updated_keys.py
  scripts/testing/test_and_fix_llm_connections.py
  scripts/testing/test_gemini_and_gpt.py
  scripts/testing/test_openrouter_together.py
  scripts/troubleshoot_all_connections.py
  services/chat-service/websocket_enhancements.py
  services/neural-gateway/circuit_breaker.py
  tests/test_websocket_envelopes.py
Due: no-print-statements, no-breakpoints

env/dev: add env doctor + shell loader; unify compose for single-repo dev; add one canonical local dev + deployment guide
  .envrc
  LOCAL_DEV_AND_DEPLOYMENT.md
  Makefile
  docker-compose.dev.yml
  scripts/env.sh
  scripts/env_doctor.py
Due: no-breakpoints

ai: unify assistant workspace into .ai/; migrate Cursor/Claude/Artemis/Sophia tracked configs; add .ai shared structure and README
  .ai/overrides/claude/mcp_servers.json
  .ai/overrides/cursor/mcp.json
  .ai/shared/context/examples/sophia_integration_code.py
  .ai/shared/context/post-scout.sh
  .ai/shared/context/pre-scout.sh
  .ai/shared/context/scout.md
  .ai/shared/prompts/architecture-expert.md
  .ai/shared/prompts/code-planner.md
  .ai/shared/prompts/code-quality-reviewer.md
  .ai/shared/prompts/code-reviewer.md
  .ai/shared/prompts/code-writer.md
  .ai/shared/prompts/creative-thinker.md
  .ai/shared/prompts/integration-iac-expert.md
  .ai/shared/prompts/problem-solver.md
  .ai/shared/prompts/ux-reviewer.md
Due: no-breakpoints

analysis: add Artemis migration plan listing files to move to ai-cherry/artemis-cli
  docs/cleanup-reports/artemis-migration-plan.md
Due: none

split: remove Artemis-specific code from Sophia repo; add CI guard and sidecar architecture doc
  .github/workflows/anti-fragmentation.yml
  app/artemis/agent_factory.py
  app/artemis/artemis_orchestrator.py
  app/artemis/artemis_semantic_orchestrator.py
  app/artemis/factories/__init__.py
  app/artemis/factories/agent_factory.py
  app/artemis/factories/base_factory.py
  app/artemis/portkey_unified_factory.py
  app/artemis/scout_swarm/ultimate_scout_swarm.py
  app/artemis/ui/command_center.html
  app/artemis/unified_factory.py
  artemis_server_standalone.py
  bin/artemis-run
  docs/sidecar-architecture.md
  scripts/check_artemis_paths.sh
  test_gong_integration_with_artemis.py
Due: no-print-statements, no-breakpoints

enforcement: extend Artemis path guard; add scripts audit and fragmentation score; doc archive note; add manual override hook entry
  scripts/audit_scripts.py
  scripts/fragmentation_score.sh
Due: no-breakpoints

governance: add CODEOWNERS; add scripts manifest and README; refine fragmentation score to ignore hidden dirs
  .github/CODEOWNERS
  scripts/README.md
  scripts/fragmentation_score.sh
  scripts/manifest.py
Due: no-breakpoints

ci: add weekly health workflow to report fragmentation and guard status
  .github/workflows/weekly-health.yml
Due: none

docs: clarify full startup sequence and MCP verification; add MCP integration guide and update request; add Makefile targets (health-infra, mcp-test, full-start)
  LOCAL_DEV_AND_DEPLOYMENT.md
  Makefile
  docs/UPDATE_REQUEST.md
  docs/guides/mcp-integration.md
Due: none

docs+ci: add production deployment checklist; add CI tests workflow; add pytest.ini defaults to exclude Artemis
  .github/workflows/tests.yml
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  pytest.ini
Due: none

dev: add one-command startup script (scripts/dev.sh); unify dev compose by adding Postgres; add API build targets; include OpenAI in requirements
  Makefile
  docker-compose.dev.yml
  requirements/base.txt
  scripts/dev.sh
Due: none

fix(dev): copy requirements directory into MCP images so pip includes (-r requirements/base.txt) resolve correctly
  automation/docker/Dockerfile.mcp-filesystem
  automation/docker/Dockerfile.mcp-git
  automation/docker/Dockerfile.mcp-memory
Due: none

dev: add mcp-rebuild target to rebuild and start MCP services with health checks
  Makefile
Due: none

dev(ui): add ui-up, ui-health, ui-smoke targets for local UI backend and quick verification
  Makefile
Due: none

feat(ui+api): add sophia integrations router (asana/linear/gong) and wire UI pages to these endpoints; improve CORS parsing; add stop-all/restart-all targets
  agent-ui/src/app/(sophia)/calls/page.tsx
  agent-ui/src/app/(sophia)/work/page.tsx
  app/api/production_server.py
  app/api/routers/sophia_integrations.py
Due: no-print-statements, no-breakpoints

Path conditions:
  no-print-statements: any of: \.py$ and not ((?x)^(
  scripts/.*|
  tests/.*|
  .*test.*\.py|
  .*debug.*|
  .*example.*|
  app/scaffolding/.*|
  .*demo.*|
  setup\.py
)$
) and not ((?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log|
  .*\.bak|
  .*\.swp|
  .*\.tmp|
  \.DS_Store|
  Thumbs\.db|
  backup_.*|
  archived/.*|
  deprecated/.*
)$
)
  no-breakpoints: any of: \.py$, but not: (?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log|
  .*\.bak|
  .*\.swp|
  .*\.tmp|
  \.DS_Store|
  Thumbs\.db|
  backup_.*|
  archived/.*|
  deprecated/.*
)$

  no-console-log: any of: \.(js|mjs|cjs)$ and not (^(.*test.*|.*spec.*|.*\.config\..*)$) and not ((?x)^(
  .*\.egg-info/.*|
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.tox/.*|
  \.venv/.*|
  build/.*|
  dist/.*|
  node_modules/.*|
  venv/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  .*\.pyd|
  .*\.db|
  .*\.sqlite|
  .*\.log|
  .*\.bak|
  .*\.swp|
  .*\.tmp|
  \.DS_Store|
  Thumbs\.db|
  backup_.*|
  archived/.*|
  deprecated/.*
)$
)
